
.header {
	position: relative;
	width: 390px;
	height: 50px;
	top: 0%;
	left:0%;
	z-index: 998;
	background-color: #2222ff;
	display: flex;
	align-items: center;
	justify-content: center;
}

body{
	margin: 0px;
}

.main{
	position: absolute;
	width: 390px;
	height: 844px;
	background-color: #f0fff0;
}

.centertable{
	display: flex;
	justify-content: center;
	table-layout:fixed;
}

table{
	table-layout:fixed;
	width: 85%;
}

#pest-01 {
	display: none;
}




/*ベース*/
.toggle {
	display: none;
}
.Label {		/*タイトル*/
	padding: 1em;
	display: block;
	color: #fff;
	background:#019ac6;
}
.Label::before{		/*タイトル横の矢印*/
	content:"";
	width: 6px;
	height: 6px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 20px;
	transform: rotate(135deg);
}
.Label,
.content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}
.toggle:checked + .Label + .content {	/*開閉時*/
	height: auto;
	padding:20px ;
	transition: all .3s;
}
.toggle:checked + .Label::before {
	transform: rotate(-45deg) !important;
}
/* story.jsp */
.story_photo{
	display: inline-block;
	text-align: center;
	margin-top: 20px;
}
.story_photo img{
	margin: 10px;
}
/* list.jsp */
#titlelist2 {
	list-style:none;
	width: 85%;
	padding-left:10px;
	border-collapse: separate;
	border-spacing:0px 10px;
}

#titlelist2 th{
	background-color: white;
	border: 1px solid #000000;
	text-align: left;
	padding: 0px 0px 0px 5px;
	font-weight: normal;
}

#titlelist2 td{
	background-color: white;
	border: 1px solid #000000;
	width: 25px;
	height: 25px;
	padding: 0px;
	text-align: center;
	padding-top: 5px;
}

/* title.jsp */
.tabletitle{
	display: flex;
	align-items: center;
	justify-content: center;
}
#titlelist {
	list-style:none;
	width: 85%;
	padding-left:10px;
	border-collapse: separate;
	border-spacing:0px 10px;
}

#titlelist th{
	background-color: white;
	border: 1px solid #000000;
	text-align: left;
	padding: 0px;
}

#titlelist td{
	background-color: white;
	border: 1px solid #000000;
	width: 25px;
	height: 25px;
	padding: 0px;
	text-align: center;
	padding-top: 5px;
}

/* usage.jsp */
.usage-item {
    display: flex;
    padding: 20px 8px;
}
.usage-photo {
    margin-right: 15px;
    flex: 1 1 auto;
}
.usage-text {
    flex: 0 0 180px;
}
p{
	margin-right: 5px;
}

/* ドロワーメニュー */
/*========= ナビゲーションのためのCSS ===============*/
#g-nav1{
  position:fixed;
  z-index: 1000;
  bottom:-100%;
  left:0;
  width:100%;
  height: 100vh;
  background:#999;
  transition: all 0.5s;
}
#g-nav2{
  position:fixed;
  z-index: 999;
  left:-100%;
  width:40%;
  height: 100%;
  background:#999;
  transition: all 0.5s;
}
/*アクティブクラスがついたら位置を0に*/
#g-nav1.panelactive{
    bottom: -70px;
}
#g-nav2.panelactive{
    left: 0;
}


/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
  z-index: 9999;
  top:70px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height:50px;
}
.openbtn2{
  position:fixed;
  z-index: 9999;
  top:10px;
  cursor: pointer;
  width: 50px;
  height:50px;
}

/*×に変化*/
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}
.openbtn2 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top:15px;
  transform: rotate(90deg);
}
.openbtn1 span:nth-of-type(2) {
  display: none;
}
.openbtn1 span:nth-of-type(3) {
  top:15px;
}

.openbtn2 span {
  margin-left: 18px;
}
.openbtn2 span:nth-of-type(1) {
  top:15px;
}
.openbtn2 span:nth-of-type(2) {
  top:23px;
}
.openbtn2 span:nth-of-type(3) {
  top:31px;
}
.openbtn1.active span:nth-of-type(1) {
  transform: translateY(6px) rotate(-45deg);
  width: 45%;
}
.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  transform: translateY(6px) rotate(45deg);
  width: 45%;
}

.openbtn2.active span:nth-of-type(1) {
  top: 30px;
  transform: translateY(-6px) rotate(-45deg);
  width: 45%;
}
.openbtn2.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn2.active span:nth-of-type(3) {
  top: 30px;
  transform: translateY(-6px) rotate(45deg);
  width: 45%;
}

/*========= レイアウトのためのCSS ===============*/
h1{
  font-size:1.2rem;
}
#g-nav2 ul {
  position: absolute;
  z-index: 999;
  top:10%;
  left:5%;
}
#g-nav2 li{
  list-style: none;
  text-align: center;
}

#g-nav2 li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/* ========map.jsp========= */

/* 現在地マーク */
.currentlocation {
	position: fixed;
	z-index: 9999;
    top:10px;
    right: 10px;
    cursor: pointer;
}
/* 検索バー */
.search_container{
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  top:18px;
  right: 80px;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 240px;
  overflow: hidden;
  background-color:#ffffff;
}

.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}

/* スポット登録 */