
.header {
	position: relative;
	width: 390px;
	height: 50px;
	top: 0%;
	left:0%;
	z-index: 9999;
	background-color: #d3d3d3;
}

.main{
	position: absolute;
	width: 390px;
	height: 844px;
	background-color: #f0fff0;
}

.centertable{
	display: flex;
	justify-content: center;
	table-layout:fixed;
}

.table{
	table-layout:fixed;


}

#pest-01 {
	display: none;
}




/*ベース*/
.toggle {
	display: none;
}
.Label {		/*タイトル*/
	padding: 1em;
	display: block;
	color: #fff;
	background:#019ac6;
}
.Label::before{		/*タイトル横の矢印*/
	content:"";
	width: 6px;
	height: 6px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 20px;
	transform: rotate(135deg);
}
.Label,
.content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}
.toggle:checked + .Label + .content {	/*開閉時*/
	height: auto;
	padding:20px ;
	transition: all .3s;
}
.toggle:checked + .Label::before {
	transform: rotate(-45deg) !important;
}


/* title.jsp */
#titlelist {
	list-style:none;
	width: 85%;
	padding-left:10px;
	border-collapse: separate;
	border-spacing:10px 10px;
}

#titlelist td{
	background-color: white;
	border: 1px solid #000000;
}

/* usage.jsp */
.usage-item {
    display: flex;
    padding: 20px 8px;
}
.usage-photo {
    margin-right: 16px;
    flex: 1 1 auto;
}
.usage-text {
    flex: 0 0 336px;
}