#out_map.active_map, #maps.active_map {
	opacity: 0;
	border: solid;
	position: relative;
	top: 0;
	left: 0;
	width: 390px;
	height: 844px;
	z-index: 9991;
}
#maps {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9990;
	background-color: white;
}
#pin {
	position: fixed;
	top: 100px;
	left: 400px;
	width: 100px;
	height: 50px;
}
#img_data {
	position: fixed;
	top: 200px;
	left: 400px;
	width: 100px;
	height: 50px;
}
#getimg_data_x {
	border: solid;
	position: fixed;
	top: 300px;
	left: 400px;
	width: 100px;
	height: 50px;
}
#getimg_data_y {
	border: solid;
	position: fixed;
	top: 300px;
	left: 550px;
	width: 100px;
	height: 50px;
}

.header {
	position: relative;
	width: 390px;
	height: 50px;
	top: 0%;
	left:0%;
	z-index: 998;
	background-color: rgb(255, 189, 234);
	display: flex;
	align-items: center;
	justify-content: center;
}

body{
	margin: 0px;
	background-image: url(/f2project/img/kumo2.png);
	background-attachment: scroll;
}

.main{
	position: absolute;
	width: 390px;
	height: 844px;
}

.centertable{
	display: flex;
	justify-content: center;
	table-layout:fixed;
}

table{
	table-layout:fixed;
	width: 85%;
}

#pest-01 {
	display: none;
}

#map {
	width: 390px;
	height: 844px;
	border: 0;
}


/*ベース*/
.toggle {
	display: none;
}
.Label {		/*タイトル*/
	padding: 1em;
	display: block;
	color: #fff;
	background:#019ac6;
}
.Label::before{		/*タイトル横の矢印*/
	content:"";
	width: 6px;
	height: 6px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 20px;
	transform: rotate(135deg);
}
.Label,
.content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}
.toggle:checked + .Label + .content {	/*開閉時*/
	height: auto;
	padding:20px ;
	transition: all .3s;
}
.toggle:checked + .Label::before {
	transform: rotate(-45deg) !important;
}
/* story.jsp */
.story_photo{
	display: inline-block;
	text-align: center;
	margin-top: 20px;
}
.story_photo img{
	margin: 10px;
}
/* list.jsp */
#titlelist2 {
	list-style:none;
	width: 85%;
	padding-left:10px;
	border-collapse: separate;
	border-spacing:0px 10px;
}

#titlelist2 th{
	background-color: white;
	border: 1px solid #000000;
	text-align: left;
	padding: 0px 0px 0px 5px;
	font-weight: normal;
}

#titlelist2 td{
	background-color: white;
	border: 1px solid #000000;
	width: 25px;
	height: 25px;
	padding: 0px;
	text-align: center;
	padding-top: 5px;
}

/* title.jsp */
.tabletitle{
	display: flex;
	align-items: center;
	justify-content: center;
}
#titlelist {
	list-style:none;
	width: 85%;
	padding-left:10px;
	border-collapse: separate;
	border-spacing:0px 10px;
}

#titlelist th{
	background-color: white;
	border: 1px solid #000000;
	text-align: left;
	padding: 0px;
}

#titlelist td{
	background-color: white;
	border: 1px solid #000000;
	width: 25px;
	height: 25px;
	padding: 0px;
	text-align: center;
	padding-top: 5px;
}

/* usage.jsp */
.usage-item {
    display: flex;
    padding: 20px 8px;
}
.usage-photo {
    margin-right: 15px;
    flex: 1 1 auto;
}
.usage-text {
    flex: 0 0 180px;
}
p{
	margin-right: 5px;
}

/* ドロワーメニュー */
/*========= ナビゲーションのためのCSS ===============*/
#g-nav1{
  position:fixed;
  z-index: 9997;
  bottom:-100%;
  left:0;
  width:100%;
  height: 100vh;
  background:#fff9ff;
  transition: all 0.5s;
}
#g-nav2{
  position:fixed;
  z-index: 9998;
  left:-100%;
  width:40%;
  height: 100%;
  background: #acacff;
  transition: all 0.5s;
  opacity: 0.9;
}
#g-nav3{
  position:fixed;
  z-index: 9997;
  bottom:-100%;
  left:0;
  width:100%;
  height: 100vh;
  background:#fff9ff;
  transition: all 0.5s;
}
#g-nav4{
  position:fixed;
  z-index: 9998;
  left:-100%;
  width:40%;
  height: 100vh;
  background: #acacff;
  transition: all 0.5s;
  opacity: 0.9;
}
/*アクティブクラスがついたら位置を0に*/
#g-nav1.panelactive{
    bottom: -70px;
    z-index: 9997;
}
#g-nav2.panelactive{
    left: 0;
    z-index: 9998;
}
#g-nav3.panelactive{
    bottom: -230px;
    z-index: 9997;
}


/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
  z-index: 9999;
  top:70px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height:50px;
}
.openbtn2{
  position:fixed;
  z-index: 9999;
  top:10px;
  cursor: pointer;
  width: 50px;
  height:50px;
}
#openbtn1{
  position:fixed;
  z-index: 9999;
  top: 250px;
  right: 20px;
  cursor: pointer;
  width: 50px;
  height:50px;
}

/*×に変化*/
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}
.openbtn2 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top:15px;
  transform: rotate(90deg);
}
.openbtn1 span:nth-of-type(2) {
  display: none;
}
.openbtn1 span:nth-of-type(3) {
  top:15px;
}

.openbtn2 span {
  margin-left: 18px;
}
.openbtn2 span:nth-of-type(1) {
  top:15px;
}
.openbtn2 span:nth-of-type(2) {
  top:23px;
}
.openbtn2 span:nth-of-type(3) {
  top:31px;
}
.openbtn1.active span:nth-of-type(1) {
  transform: translateY(6px) rotate(-45deg);
  width: 45%;
}
.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  transform: translateY(6px) rotate(45deg);
  width: 45%;
}

.openbtn2.active span:nth-of-type(1) {
  top: 30px;
  transform: translateY(-6px) rotate(-45deg);
  width: 45%;
}
.openbtn2.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn2.active span:nth-of-type(3) {
  top: 30px;
  transform: translateY(-6px) rotate(45deg);
  width: 45%;
}

/*========= レイアウトのためのCSS ===============*/
h1{
  font-size:1.2rem;
}
#g-nav-list1 {
  padding-top: 30px;
}
#g-nav-list1 ul{
	padding-left: 60px;
	padding-right: 60px;
}
#g-nav-list1 li.center{
	list-style: none;
	text-align: center;
}
#g-nav-list1 li.left{
	list-style: none;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}
#g-nav-list1 li.right{
	list-style: none;
	text-align: right;
}
#g-nav-list1 li.null{
	list-style: none;
}
#spotname{
	list-style: none;
}
#spotarea{
	list-style: none;
}
#spotname2{
	list-style: none;
}
#date{
	list-style: none;
}

#g-nav-list1 li.spotarea{
	list-style: none;
}

#g-nav-list1 li.area{
	resize: none;
}
#g-nav2 ul {
  position: absolute;
  z-index: 9999;
  top:10%;
  left:5%;
}
#g-nav2 li{
  list-style: none;
  text-align: center;
}

#g-nav2 li a{
  color: #fff;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
#g-nav-list3 {
  padding-top: 30px;
}
#g-nav-list3 ul{
	padding-left: 60px;
	padding-right: 60px;
}
#g-nav-list3 li.center{
	list-style: none;
	text-align: center;
}
#g-nav-list3 li.left{
	list-style: none;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}
#g-nav-list3 li.right{
	list-style: none;
	text-align: right;
}
#g-nav-list3 li.null{
	list-style: none;
}

/* ========map.jsp========= */

/* 現在地マーク */
.currentlocation {
	position: fixed;
	z-index: 9999;
    top:10px;
    right: 10px;
    cursor: pointer;
}

/* キャラクター */
#characterbtn{
  position: fixed;
  z-index: 9996;
  bottom:10px;
  right: 10px;
  cursor: pointer;
  width: 120px;
  height:120px;
}
.character {
	position: fixed;
	z-index: 9996;
    bottom:10px;
    right: 10px;
    cursor: pointer;
}

.balloon{
	display: none;
}

.balloon.active {
  position: fixed;
  z-index: 9996;
  bottom:10px;
  right: 140px;
  cursor: pointer;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  background: #ff8e9d;
  border-radius: 15px;
  box-sizing: border-box;
}

.balloon.active:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #ff8e9d;
  z-index: 9996;
}
.message{
	background-color: #ff8e9d;
	color: #FFF;
	resize: none;
	width: 220px;
	height: 50px;
	border: none;
	outline: none;
	font-size: 12px;
	font-weight: bold;
	vertical-align: center;
}
/* 検索バー */
.search_container{
  box-sizing: border-box;
  position: fixed;
  z-index: 9997;
  top:18px;
  right: 80px;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 240px;
  overflow: hidden;
  background-color:#ffffff;
}

.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}

/* スポット登録 */