@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Hachi+Maru+Pop&display=swap');

/* ページの配置 */
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Hachi Maru Pop', cursive;
}

/* 背景画像、透明度 */
#main {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 844px;
    width: 390px;
}
.login_main, .regist_main, .reset_main, .completion_main {
    background-repeat: no-repeat;
    background-position: center;
}
.login_main {
	background-image: url(/f2project/img/login-backimg.png);
}
.regist_main {
	background-image: url(/f2project/img/login-backimg.png);
}
.reset_main {
	background-image: url(/f2project/img/login-backimg.png);
}
.completion_main {
	background-image: url(/f2project/img/login-backimg.png);
}

/* ロゴのデザイン */
h1 {
	margin: 150px auto 10px auto;
	/*width: 189px;
	height: 200px;*/
	text-align: center;

}

/* form全体のデザイン */
#all_form {
	width: 390px;
	margin: 0 auto;
}

/* 各formのデザイン */
#login_form {
	margin: 0 50px 0 55px;
}
#regist_form > table, #reset_form > table, #completion_form > table {
	margin: 0 auto;
}

/* 全ページのlabelのデザイン */
label {
    display: block;
    background:#ff99cc;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    text-indent: 1%;
    margin: 10px;
    padding-top: 5px;
    width: 250px;
}

/* inputタグ(フォーム入力)のデザイン */
input[type="text"], input[type="password"], #q, #read_q {
	width: 240px;
	padding: 5px;
	border-top: none;
	border-left: none;
	border-right: none;
}
#q {
	width: 250px;
	border-bottom: solid 1.5px;
}
input[type="text"]:focus, input[type="password"]:focus, #q:focus {
	outline: none;
	border: none;
	background-color: #F5F5F5;
	border-bottom: solid 2px;
}

/* 各ボタンのデザイン */
#login, #reset, #check, #submit, #back, #login_back, #q_back, #go_login{
	width: 110px;
	margin: 10px 0 -5px 10px;
	font-weight: bold;
	border-radius: 30px;
	border: 2px solid #ff99cc;    /* 枠の指定 */
	background:#ff99cc;
	color         : #ffffff;     /* 文字色     */
	transition    : .3s;         /* なめらか変化 */
}

#login:hover, #reset:hover, #check:hover, #submit:hover, #back:hover, #login_back:hover, #q_back:hover {
  color         : #ff99cc;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

/* 「新規登録」「パスワードリセット」ボタンのデザイン */
#new_regist, #new_pw {
	width: 250px;
	margin: -5px 0 0 65px;
	font-weight: bold;
	background: white;
	border-radius: 30px;
	border-width: 1px;
}
#new_regist {
	margin-top: -10px;
}
#login_back, #q_back {
	position: relative;
	top: -27px;
	left: 207.5px;
	margin: 0;
}
#reset, #back {
	margin-left: 24px;
}
/* inputタグ(ボタン)のデザイン */
#input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus {
	background-color: #F5F5F5;
	outline-style: inset;
}
/* 完了画面のボタンデザイン */
#go_login {
	margin: 50px 0 0 60px;
	width: 150px;
	height: 50px;
	font-weight: bold;
	border-radius: 30px;
	border: 2px solid #ff99cc;    /* 枠の指定 */
	background:#ff99cc;
	color         : #ffffff;     /* 文字色     */
	transition    : .3s;         /* なめらか変化 */

}

#go_login:hover {
	color         : #ff99cc;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


/* 各ページ上部のテキストエリアのデザイン */
#regist_text, .reset_text, #completion_text {
	width: 300px;
	height: 100px;
	margin: 150px -22.5px 30px -15px;
	background: white;
	text-align: center;
	border: 2px solid #ff99cc;
	border-radius: 10px 10px 10px 10px;
}

