@charset "UTF-8";

html {
	overflow: hidden;
	border: solid;
	height: 844px;
	width: 390px;
	margin: 0 auto;
}

body {
	text-align: center;
	margin-left: 25%;
}
#login_body {
	background-image: url(/f2project/img/back-img2.png);
	background-repeat: no-repeat;
}


.regist_label, .reset_label {
	margin-bottom: 20px;
}

h1 {
	width: 189px;
	height: 241px;
	text-align: center;
	margin-top: 50px;
}

#regist_text, #reset_text {
	width: 200px;
	height: 100px;
	margin: 50px 0 20px 0;
}
#id, #pw, #q, #ans {
	width: 200px;
}

#login, #reset, #check, #submit, #back {
	width: 90px;
}
#reset, #back {
	margin-left: 15px;
}
#new_regist, #new_pw {
	width: 200px;
	margin-left: -80px;
}
#go_login {
	margin: 100px 0 0 40px;
}